body {
  background-color: hsl(210, 46%, 95%);
  font-family: "Barlow Semi Condensed", sans-serif;
  margin: 5%;
}

/* Container-Section */

.container-grid {
  display: grid;
  grid-template-areas:
    "card-one card-one card-two card-five"
    "card-three card-four card-four card-five";
  gap: 20px;
}

/* Card Section  */
.card {
  margin: 5px;
  border-radius: 15px;
  padding: 7%;
}

.card-one::before {
  content: url(images/bg-pattern-quotation.svg);
  position: absolute;
  left: 60%;
  top: 5%;
}

.card-one {
  grid-area: card-one;
  background-color: hsl(263, 55%, 52%);
  color: white;
  position: relative;
}

.card-two {
  grid-area: card-two;
  background-color: hsl(217, 19%, 35%);
  color: white;
}

.card-three {
  grid-area: card-three;
  background-color: white;
  color: black;
}

.card-four {
  grid-area: card-four;
  background-color: hsl(219, 29%, 14%);
  color: white;
}

.card-five {
  grid-area: card-five;
  background-color: white;
  margin-left: 20px;
  padding: 15%;
}

/* Profile-Section */

.profile-img {
  border-radius: 100%;
}

/* Profile-Image */

.profile-heading {
  display: flex;
}

.profile-name {
  line-height: 0.2;
  margin-left: 1rem;
}

/* Profile-name */
.profile-position {
  line-height: 0.2;
  margin-left: 1rem;
  font-size: 13px;
  opacity: 50%;
}

/* Content Section  */
.content-para {
  font-size: 13px;
  line-height: 1.5;
  opacity: 70%;
}

.content-caption {
  position: relative;
  z-index: 2;
}
/* Attributes Section */

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
  margin: 3%;
}
.attribution a {
  color: white;
}

/* Media Queries */

@media (max-width: 940px) {
  .container-grid {
    display: grid;
    gap: 20px;
    grid-template-areas:
      "card-one"
      "card-two"
      "card-three"
      "card-four"
      "card-five";
  }
} ;
