body {
  font-family: "Karla", sans-serif;
  text-align: left;
  background-color: hsl(204, 43%, 93%);
  margin: 6%;
}

.card {
  border-radius: 15px;
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

/* Heading Section */

.heading-section {
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border-radius: 10px 10px 0 0;
  padding: 3% 5%;
}

.heading-title {
  color: hsl(179, 62%, 43%);
}

.heading-description {
  color: hsl(71, 73%, 54%);
}

.heading-sub-description {
  color: gray;
  line-height: 2;
}

/* Bottom Section */

.bottom-section {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}

/* Sub Left Section */

.sub-section {
  background-color: #2bb3b1;
  border-radius: 0 0 0 10px;
  padding: 7% 7% 15% 10%;
}

.amount {
  font-size: 2rem;
}

.amount-text {
  opacity: 50%;
  font-weight: 400;
}

.sign-up-btn {
  background-color: hsl(71, 73%, 54%);
  color: white;
  border: 1px;
  height: 25%;
  width: 100%;
  border-radius: 7px;
  margin-top: 1rem;
  box-shadow: 1px 1px 10px black;
}

/* Why Right Section */

.why-section {
  border-radius: 0 0 10px 0;
  background-color: #4abebd;
}

.why-section-heading {
  padding-left: 7%;
  padding-top: 7%;
}

.why-section-des-co {
  padding: 5% 10%;
  opacity: 70%;
}
.why-section-description {
  line-height: 0.5;
  font-size: 13px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1300px) and (min-width: 640px) {
  .card {
    width: 50%;
    margin: 0 auto;
    /* display: contents; */
  }

  .sign-up-btn {
    background-color: hsl(71, 73%, 54%);
    color: white;
    border: 1px;
    height: 15%;
    width: 100%;
    border-radius: 7px;
    margin-top: 1rem;
    box-shadow: 1px 1px 10px black;
  }
}

@media (max-width: 640px) {
  .card {
    width: 70%;
    margin: 0 auto;
    display: contents;
  }

  .bottom-section {
    display: contents;
    color: white;
  }
  .sign-up-btn {
    background-color: hsl(71, 73%, 54%);
    color: white;
    border: 1px;
    padding: 1rem 6rem;
    border-radius: 7px;
    margin-top: 1rem;
    box-shadow: 1px 1px 10px black;
  }

  .why-section-heading {
    padding-left: 7%;
    padding-top: 7%;
    margin-top: 0;
  }

  .why-section-description {
    line-height: 0.5;
    font-size: 16px;
  }
}
