body {
  font-family: "Karla", sans-serif;
  text-align: left;
  background-color: hsl(204, 43%, 93%);
  margin: 6%;
}

.card {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

/* Heading Section */

.heading-section {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: white;
  padding: 3%;
}

.heading-title {
  color: hsl(179, 62%, 43%);
}

.heading-description {
  color: hsl(71, 73%, 54%);
}

.heading-sub-description {
  color: gray;
  line-height: 2;
}

/* Bottom Section */

.bottom-section {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Sub Left Section */

.sub-section {
  background-color: hsl(218, 22%, 67%);
  padding: 7%;
}

.why-section {
  background-color: Cyan;
}

.why-section-heading {
  padding-left: 7%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
