body {
  background: url(images/bg-hero-desktop.svg) no-repeat;
  background-color: hsl(193, 100%, 96%);
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

/* Hero Section */

.hero-section {
  margin: 5%;
}

/* Top-logo-section */

.top-logo-section {
  display: flex;
  justify-content: space-between;
}

.logo-icon {
  height: 10%;
}

.free-btn {
  padding: 1% 5%;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  align-self: flex-end;
}

/* Bottom-profile-section */

.bottom-profile {
  display: flex;
  margin: 5% 0;
}

/* Text-Content-Section */

.content-section {
  width: 75%;
  margin: 5% 5% 0 0;
}

.content-heading {
  font-size: 2.5rem;
}

.content-description {
  font-family: "Open Sans", sans-serif;
}

.get-started-btn {
  background-color: hsl(322, 100%, 66%);
  color: white;
  padding: 3% 15%;
  border-radius: 50px;
}
/* Content-Image */

.mockup-img {
  width: 100%;
}

/* Grow-Together-section */
.grow-together-section {
  background-color: rgb(243, 242, 242);
}
.background-margin {
  margin: 5% 0;
  padding: 5%;
}
.card-component {
  display: flex;
  background-color: white;
  padding: 5% 10% 5%;
  border-radius: 15px;
}

.rev-flex {
  flex-direction: row-reverse;
}
.content-section-two {
  font-family: "Open Sans", sans-serif;
  width: 90%;
  margin: 5% 10% 0 0;
}

.card-content-heading {
  font-family: "Poppins", sans-serif;

  font-size: 2rem;
}
.content-description-two {
  opacity: 50%;
}

/* Content Section Three */

.mockup-img-three {
  width: 100%;
  margin: 0 10% 0 0;
}

.content-section-three {
  font-family: "Open Sans", sans-serif;
  width: 90%;
}

.flowing-conversation {
  background-color: rgb(243, 242, 242);
}

.call-to-action {
  background-color: white;
  margin: 0 25%;
  padding: 3%;
  text-align: center;
  border-radius: 15px;
}

/* Attribute Section */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
