body {
  background: url(images/bg-hero-desktop.svg) no-repeat;
  background-color: hsl(193, 100%, 96%);
  font-family: "Poppins", sans-serif;
}

/* Hero Section */

.hero-section {
  margin: 5%;
}

/* Top-logo-section */

.top-logo-section {
  display: flex;
  justify-content: space-between;
}
/* Logo Image  */
.logo-icon {
  height: 10%;
}
/* Logo Button */
.free-btn {
  padding: 1% 5%;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  align-self: flex-end;
}

/* Bottom-profile-section */

.bottom-profile {
  display: flex;
  flex-direction: row;
  margin: 5% 0;
}

/* Bottom-Text-Content-Section */

.content-section {
  width: 75%;
  margin: 5% 5% 0 0;
}

.content-heading {
  font-size: 2.5rem;
}

.content-description {
  font-family: "Open Sans", sans-serif;
}

/* Get Started Button  */

.get-started-btn {
  background-color: hsl(322, 100%, 66%);
  color: white;
  padding: 3% 15%;
  border-radius: 50px;
}
/* Bottom-Content-Image */
.mockup-img {
  width: 100%;
}

/* Grow-Together-section */
.grow-together-section {
  background-color: white;
}
.background-margin {
  padding: 5%;
}
.card-component {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 5% 10% 5%;
  border-radius: 15px;
  box-shadow: 1px 1px 10px hsl(208, 11%, 55%);
}

.rev-flex {
  flex-direction: row-reverse;
}

/* Text Section for 1st card component */
.content-section-two {
  font-family: "Open Sans", sans-serif;
  width: 90%;
  margin: 5% 10% 0 0;
}

.card-content-heading {
  font-family: "Poppins", sans-serif;

  font-size: 2rem;
}
.content-description-two {
  opacity: 50%;
}

/* Card Component Two */
.flowing-conversation {
  background-color: white;
}

.mockup-img-three {
  width: 100%;
  margin: 0 10% 0 0;
}

.content-section-three {
  font-family: "Open Sans", sans-serif;
  width: 90%;
}

/* Card Component Three */
.your-user {
  padding-bottom: 5%;
  background-color: white;
  position: relative;
}

/* Note: Everything else reuse the class of first component for third card component  */

/* Call to action Section  */

.call-to-action {
  background-color: white;
  margin: 0 25%;
  padding: 3% 5%;
  text-align: center;
  border-radius: 15px;
  box-shadow: 1px 1px 10px hsl(208, 11%, 55%);
  position: absolute;
  bottom: -8rem;
  right: 5rem;
}

/* Footer */

footer {
  color: white;
  font-family: "Open Sans", sans-serif;
  background-color: hsl(192, 100%, 9%);
  padding: 10% 5%;
}

/* This class makes the image white  */
footer .footer-img {
  filter: invert(90%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(200%)
    contrast(100%);
}

/* This class removes all the bullet points  */
footer .footer-content > * {
  list-style-type: none;
}

li {
  list-style-type: none;
}

/* Grid Section Start  */

footer .footer-content {
  display: grid;
  grid-template-areas: "info-section nav-one nav-two social-section";
  gap: 2rem;
  background-color: hsl(192, 100%, 9%);
}

/* Spaces between the list element */
.list-comp {
  padding: 0.5rem;
}

/* Grid Area Specified for each element  */
/* Double GRID specified  */
.info-section {
  grid-area: info-section;
  display: grid;
  grid-template-areas: "icons description";
  font-size: 15px;
}

/* Email Phone icon Element  */
.icons {
  grid-area: icons;
  margin: 5%;
  padding: 0.75rem 0;
}

/* Description for the Icons  */
.description {
  grid-area: description;
}

.nav-one {
  grid-area: nav-one;
}

.nav-two {
  grid-area: nav-two;
}

.social-section {
  grid-area: social-section;
}

.social-icon {
  display: flex;
}

/*  SOCIAL-ICON-SECTION */
/* The circle for the social icons  */
.circle {
  border-radius: 50%;
  padding: 0.5rem;
  border: 1px solid white;
}

.copyright {
  padding-top: 30%;
  font-size: 12px;
}
/* Attribute Section */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* MEDIA QUERIES  */

@media (max-width: 1024px) {
  .bottom-profile {
    display: flex;
    flex-direction: column;
    margin: 5% 0;
    align-items: center;
    text-align: center;
  }
  .content-section {
    margin: 5%;
  }

  .card-component {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5% 10% 5%;
    border-radius: 15px;
    box-shadow: 1px 1px 10px hsl(208, 11%, 55%);
  }

  .content-section-two {
    font-family: "Open Sans", sans-serif;
    width: 90%;
    margin: 5%;
    text-align: center;
  }

  .content-section-three {
    font-family: "Open Sans", sans-serif;
    width: 90%;
    text-align: center;
    margin: 5%;
  }
  .call-to-action {
    background-color: white;
    margin: 0 25%;
    padding: 3% 5%;
    text-align: center;
    border-radius: 15px;
    box-shadow: 1px 1px 10px hsl(208, 11%, 55%);
    position: relative;
    bottom: -6rem;
    right: 0;
  }

  .location-icon {
    padding-top: 0;
  }
  .phone-icon {
    padding-top: 6rem;
  }

  .mail-icon {
    padding-top: 0;
  }
}

@media (max-width: 740px) {
  body {
    background: url(images/bg-hero-mobile.svg) no-repeat;
    background-color: hsl(193, 100%, 96%);
    font-family: "Poppins", sans-serif;
  }

  .call-to-action {
    background-color: white;
    margin: 0 5%;
    padding: 7% 5%;
    text-align: center;
    border-radius: 15px;
    box-shadow: 1px 1px 10px hsl(208, 11%, 55%);
    position: relative;
    bottom: -3rem;
    right: 0;
  }

  footer {
    color: white;
    font-family: "Open Sans", sans-serif;
    background-color: hsl(192, 100%, 9%);
    padding: 25% 5% 20% 3%;
  }

  footer .footer-content {
    display: grid;
    grid-template-areas:
      "info-section"
      "nav-one"
      "nav-two"
      "social-section";
    gap: 0;
    background-color: hsl(192, 100%, 9%);
  }

  .nav-one {
    grid-area: nav-one;
    margin-top: 5%;
  }
  .nav-two {
    grid-area: nav-two;
    margin: 0;
  }

  .social-icon {
    padding-top: 5%;
    justify-content: center;
  }
  .social-section {
    grid-area: social-section;
    text-align: center;
  }
  .logo-icon {
    width: 40%;
  }
  .copyright {
    padding: 0;
  }

  .icons {
    grid-area: icons;
    margin: 5%;
    padding: 0;
  }

  .location-icon {
    padding-top: 0.5rem;
  }
  .phone-icon {
    padding-top: 4.5rem;
  }

  .mail-icon {
    padding-top: 1rem;
  }
}

/* Hover States  */
.free-btn:hover {
  padding: 1% 5%;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  align-self: flex-end;
  opacity: 70%;
  cursor: pointer;
}

.get-started-btn:hover {
  background-color: hsl(322, 100%, 66%);
  color: white;
  padding: 3% 15%;
  border-radius: 50px;
  opacity: 70%;
  cursor: pointer;
}

.nav-one li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav-two li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.social-icon .list-comp:hover {
  color: hsl(322, 100%, 66%);
  cursor: pointer;
}

.circle:hover {
  border: 1px solid hsl(322, 100%, 66%);
  cursor: pointer;
}
