:root {
  --color-dark-desaturated-blue: hsl(238, 29%, 16%);
  --color-soft-red: hsl(14, 88%, 65%);
  --color-soft-violet: hsl(273, 75%, 66%);
  --color-soft-blue: hsl(240, 73%, 65%);
  --color-dark-grayish-blue: hsl(237, 12%, 33%);
  --color-dark-grayish-blue2: hsl(240, 6%, 50%);
  --color-light-grayish-blue: hsl(240, 5%, 91%);
}

* {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
}

body {
  /* background-image: url(images/bg-pattern-desktop.svg); */
  background: linear-gradient(
      180deg,
      var(--color-soft-violet),
      var(--color-soft-blue)
    )
    no-repeat;
  background-size: cover;
}

/* Container-section */

.container-flex {
  background-color: #fff;
  display: flex;
  margin: 8% 15% 9.2% 15%;
  border-radius: 15px;
  box-shadow: 1px 0px 50px black;
  /* padding: 3% 5% 0; */
}

/* IMAGE SECTION  */

.img-section {
  max-width: 90%;
  padding: 5% 5% 5% 0;
}

.box-img {
  position: absolute;
}

.women-img {
  position: relative;
  left: 50px;
}

/* CONTENT SECTION  */
.content-section {
  margin: 5%;
}

.content-heading {
  font-size: 2.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
