:root {
  --color-dark-desaturated-blue: hsl(238, 29%, 16%);
  --color-soft-red: hsl(14, 88%, 65%);
  --color-soft-violet: hsl(273, 75%, 66%);
  --color-soft-blue: hsl(240, 73%, 65%);
  --color-dark-grayish-blue: hsl(237, 12%, 33%);
  --color-dark-grayish-blue2: hsl(240, 6%, 50%);
  --color-light-grayish-blue: hsl(240, 5%, 91%);
}

* {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
}

body {
  /* background-image: url(images/bg-pattern-desktop.svg); */
  background: linear-gradient(
      180deg,
      var(--color-soft-violet),
      var(--color-soft-blue)
    )
    no-repeat;
  background-size: cover;
}

/* Container-section */

.container-flex {
  background-color: #fff;
  display: flex;
  margin: 5% 15% 5% 15%;
  border-radius: 15px;
  box-shadow: 1px 0px 50px black;
  overflow: hidden;
  /* padding: 3% 5% 0; */
}

/* IMAGE SECTION  */

.img-section {
  max-width: 90%;
  padding: 5% 0;
}

.box-img {
  position: absolute;
  top: 40%;
  left: 8.5%;
  z-index: 1;
}

.women-img {
  position: relative;
  right: 17%;
}

/* CONTENT SECTION  */
.content-section {
  margin: 5% 10% 5% 0;
}

.content-heading {
  font-size: 2.5rem;
}

p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1.25rem;
  cursor: pointer;
}
p::after {
  content: "";
  background: url(images/icon-arrow-down.svg) no-repeat;
  height: 1rem;
  width: 1rem;
  justify-content: flex-end;
}

/* DROPDOWN Button  */

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  overflow: auto;
}

.show {
  display: contents;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
