:root {
  --color-cyan: hsl(171, 66%, 44%);
  --color-blue: hsl(233, 100%, 69%);
  --color-dark-gray-blue: hsl(210, 10%, 33%);
  --color-gray-blue: hsl(201, 11%, 66%);
}

* {
  font-family: "Bai Jamjuree", sans-serif;
}

body {
  background: url(images/bg-header-desktop.png) no-repeat;
  font-size: 18px;
}

/* Hero Section  */

#hero-section {
  text-align: center;
  padding: 7% 25%;
}

.hero-heading {
  font-size: 2.5rem;
}

.hero-description {
  opacity: 60%;
}

.ios-btn {
  margin: 2%;
  padding: 2% 5%;
  border-radius: 25px;
  border: 0;
  background-color: var(--color-cyan);
  box-shadow: 1px 3px 10px var(--color-cyan);
  color: #fff;
  font-weight: 600;
}

.mac-btn {
  /* margin: 2%; */
  padding: 2% 5%;
  border-radius: 25px;
  background-color: var(--color-blue);
  border: 0;
  box-shadow: 1px 3px 10px var(--color-blue);
  color: #fff;
  font-weight: 600;
}

.animation {
  animation: fadeIn;
  animation-duration: 2s;
}

/* Snippets Section  */

#snippets-section {
  text-align: center;
}

.heading-title {
  font-size: 2rem;
}
.heading-description {
  opacity: 60%;
  padding: 0 25% 7%;
}

/* Container Flex */
.container-flex {
  display: flex;
}

/* Features  */
.features {
  text-align: left;
  margin: 5%;
}

.features-description {
  opacity: 60%;
}

/* Access Section  */
#access-section {
  text-align: center;
  padding: 7% 0 5%;
}

.access-heading {
  font-size: 2.5rem;
}

.access-description {
  opacity: 60%;
  padding: 0 25% 7%;
}

/* SuperCharge Section  */

#superCharge-section {
  text-align: center;
}

.superCharge-heading {
  font-size: 2.5rem;
}

.superCharge-description {
  opacity: 60%;
}

/* Product Analysis Section  */
.product_anaysis {
  display: flex;
  margin: 5%;
}

.analysis-img {
  width: 60px;
  height: 50px;
}

.analysis-description {
  padding: 0 10%;
  opacity: 60%;
  line-height: 2;
}

/* Sponser Section */
#sponser-section {
  text-align: center;
  padding: 5% 0;
}

.sponser-img {
  margin: 0 3%;
}

/* Call to Action Section  */
#cta {
  text-align: center;
  margin: 0 0 10%;
}

.cta-heading {
  font-size: 2.5rem;
}

.cta-description {
  opacity: 60%;
  padding: 0 25%;
  line-height: 2;
}

.ios2-btn {
  margin: 2%;
  padding: 1% 3%;
  border-radius: 25px;
  border: 0;
  background-color: var(--color-cyan);
  box-shadow: 1px 3px 10px var(--color-cyan);
  color: #fff;
  font-weight: 600;
}

.mac2-btn {
  /* margin: 2%; */
  padding: 1% 3%;
  border-radius: 25px;
  background-color: var(--color-blue);
  border: 0;
  box-shadow: 1px 3px 10px var(--color-blue);
  color: #fff;
  font-weight: 600;
}

/* Footer section */

footer {
  padding: 3% 5%;
  display: flex;
  background-color: rgb(235, 235, 235);
}

.logo-section {
  margin: 0 5%;
  width: 15%;
}

.footer-logo {
  height: 75%;
  width: 70%;
}

.footer-nav {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-nav-item {
  list-style: none;
  /* margin: 2%; */
}

footer a {
  color: black;
  text-decoration: none;
}

.social-icons {
  width: 20%;
  align-items: flex-end;
  text-align: center;
  align-self: center;
}

.icon {
  margin: 5%;
}

/* Attribution Section  */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
