:root {
  --color-cyan: hsl(171, 66%, 44%);
  --color-blue: hsl(233, 100%, 69%);
  --color-dark-gray-blue: hsl(210, 10%, 33%);
  --color-gray-blue: hsl(201, 11%, 66%);
}

* {
  font-family: "Bai Jamjuree", sans-serif;
}

body {
  background: url(images/bg-header-desktop.png) no-repeat;
  font-size: 18px;
}

/* Hero Section  */

#hero-section {
  text-align: center;
  padding: 7% 25%;
}

.hero-heading {
  font-size: 2.5rem;
}

.hero-description {
  opacity: 60%;
}

.ios-btn {
  margin: 2%;
  padding: 2% 5%;
  border-radius: 25px;
  border: 0;
  background-color: var(--color-cyan);
  box-shadow: 1px 3px 10px var(--color-cyan);
  color: #fff;
  font-weight: 600;
}

.mac-btn {
  /* margin: 2%; */
  padding: 2% 5%;
  border-radius: 25px;
  background-color: var(--color-blue);
  border: 0;
  box-shadow: 1px 3px 10px var(--color-blue);
  color: #fff;
  font-weight: 600;
}

/* Attribution Section  */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
