:root {
  --color-cyan: hsl(171, 66%, 44%);
  --color-blue: hsl(233, 100%, 69%);
  --color-dark-gray-blue: hsl(210, 10%, 33%);
  --color-gray-blue: hsl(201, 11%, 66%);
}

body {
  font-family: "Bai Jamjuree", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
